---
---
body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

main {
  max-width: 40em;
  margin: 2em auto;
}

input {
  &:focus {
    border-width: 5px;
    outline: none;
  }
}

div {
  text-align: center;
  margin: 2em;
}

a {
  color: aquamarine;
  text-decoration: none;
  font-weight: 600;
}

a,
button {
  font-size: 1em;
  transition: font-size .2s cubic-bezier(0.4, 0, 1, 1);
  &:hover {
    font-size: 1.1em;
  }
}

p,
input {
  border: 2px solid aquamarine;
  padding: 1em;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  line-height: 2;
  width: 100%;
}

button {
  border: 2px solid aquamarine;
  padding: .2em;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  background: none;
}

#msg {
  transition: opacity .2s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0;
  margin: 1em;
}
